@model AProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YomiName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YomiName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivenNameYomi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivenNameYomi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalNameYomi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalNameYomi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameYomi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameYomi)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePrefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePrefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameSuffix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameSuffix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaidenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaidenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectoryServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoryServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensitivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensitivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupMembership)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupMembership)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email1Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email1Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email3Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email3Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email3Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email3Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IM1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IM1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IM1Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IM1Service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IM1Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IM1Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IM2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IM2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IM2Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IM2Service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IM2Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IM2Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1Formatted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1Formatted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1POBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1POBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1ExtendedAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1ExtendedAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1YomiName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1YomiName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1Symbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1Symbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization1JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization1JobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website1Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website1Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website2Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website2Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomField1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomField1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomField1Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomField1Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event1Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event1Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUploaded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
