@model IEnumerable<AProfile>

@{
    ViewData["Title"] = "Index";
    var counter = 1;
}

<style>
    .table {
        font-size: small;
    }

    th:first-child {
        min-width: 2rem;
        font-size: large;
    }

    .table > tbody > tr > td:first-child {
        text-align: center;
        font-weight: 700;
    }

    .table > thead > tr > th {
        border: 1px lightgrey solid;
        line-height: 1em;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
    }

    .table > tbody > tr > td {
        border: solid 1px lightgrey;
    }

    .table > :not(caption) > * > * {
        padding: 0;
    }
</style>

<input type="hidden" id="isWideList" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Create" class="bi-wrapper">
                    &nbsp; &nbsp; &nbsp; <i class="bi bi-slack"></i>
                </a>
            </th>
            @*             
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th> 
            *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YomiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GivenNameYomi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalNameYomi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyNameYomi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamePrefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSuffix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaidenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectoryServer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sensitivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupMembership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email1Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email2Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email2Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email3Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email3Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IM1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IM1Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IM1Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IM2Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IM2Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IM2Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone1Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone2Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone2Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone3Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone3Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1Formatted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1POBox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1ExtendedAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1YomiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization1JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website1Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website2Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website2Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomField1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomField1Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event1Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event1Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUploaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>


                    <a asp-action="Edit" asp-route-id="@item.ID" class="bi-wrapper">
                        @(counter++)
                    </a>


                    @*                 

                    <a asp-action="Details" asp-route-id="@Model.ID">Details</a>

                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProfileID" class="bi-wrapper">
                        <i class="bi bi-card-list"></i>
                    </a>
                    &nbsp;
                    <a asp-action="Edit" asp-route-id="@item.ProfileID" class="bi-wrapper">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    &nbsp;
                    <a asp-action="Delete" asp-route-id="@item.ProfileID" class="bi-wrapper">
                        <i class="bi bi-trash"></i>
                    </a> 
                    *@
                </td>
                @*                 
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td> 
                *@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GivenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YomiName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GivenNameYomi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalNameYomi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyNameYomi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamePrefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSuffix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Initials)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaidenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectoryServer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hobby)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sensitivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupMembership)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email2Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email3Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email3Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IM1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IM1Service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IM1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IM2Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IM2Service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IM2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone2Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone3Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone3Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1Formatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1POBox)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1ExtendedAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1YomiName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization1JobDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website2Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomField1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomField1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileUploaded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                @*                 <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
